<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <template id="simple_login_layout" inherit_id="web.login_layout" name="Website Login Layout Simple">
        <xpath expr="//div[hasclass('border-top')]" position="replace">
        </xpath>
    </template>

    <!-- menu -->
    <menuitem id="cy_operate_menu" name="运营中心" sequence="10" web_icon="cy_public,static/src/description/operate_menu_icon.png" />
    <menuitem id="menu_setting" name="系统配置" parent="cy_operate_menu" sequence="5000" />
    <menuitem id="cy_product_menu" name="商品中心" sequence="20" web_icon="cy_public,static/src/description/product_menu_icon.png" />
    <menuitem id="cy_sale_menu" name="销售中心" sequence="30" web_icon="cy_public,static/src/description/sale_menu_icon.png" />
    <menuitem id="cy_account_menu" name="用户中心" sequence="40" web_icon="cy_public,static/src/description/account_menu_icon.png" />

    <menuitem action="action_lang" id="menu_action_lang" parent="cy_public.menu_setting" sequence="100100" />
    <menuitem action="action_currency" id="menu_action_currency" parent="cy_public.menu_setting" sequence="100200" />
</odoo>