<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem id="menu_page" name="页面" parent="cy_base.cy_operate_menu" sequence="1" />
        <menuitem id="menu_action_page" parent="cy_cms.menu_page" action="action_page" sequence="200" />
        <menuitem id="menu_action_home" parent="cy_cms.menu_page" action="action_home" sequence="300" />
        <menuitem id="menu_action_popup" parent="cy_cms.menu_page" action="action_popup" sequence="400" />
        <menuitem id="menu_action_home_top" parent="cy_cms.menu_page" action="action_home_top" sequence="500" />

        <menuitem id="menu_nav" name="导航" parent="cy_base.cy_operate_menu" sequence="2" />
        <menuitem id="menu_action_nav" parent="cy_cms.menu_nav" action="action_nav" sequence="300" />
        <menuitem id="menu_action_nav_bottom" parent="cy_cms.menu_nav" action="action_nav_bottom" sequence="500" />

        <menuitem id="collection_page" name="商品系列" parent="cy_base.cy_operate_menu" sequence="3" />
        <menuitem id="flashsale_list_page" name="闪购列表" parent="cy_cms.collection_page" action="cy_cms_flashsale_action" sequence="200" />
        <menuitem id="cms_page_banner" name="页面顶部广告" parent="cy_cms.collection_page" action="cy_cms_page_banner_action" sequence="300" />

        <menuitem action="action_setting" id="menu_action_setting" parent="cy_base.menu_setting" sequence="1900" />
        <menuitem action="action_personal_center" id="menu_action_personal_center" parent="cy_base.menu_setting" sequence="2000" />

        <menuitem action="cy_base.action_action" id="menu_action_action" parent="cy_base.cy_operate_menu" sequence="1200" />

        <menuitem action="cy_share_action" id="menu_action_share" parent="cy_base.menu_setting" sequence="100400" />
    </data>
</odoo>